$color: #bada55;

sample-component {
  display: inline-flex;
}

.centered,
.anchor {
  color: $color;
}

.classInNgClass {
  color: $color;
}

.class1,
.class2,
.class3,
.class4 {
  color: $color;
}

// not existing
.unused-class {
  color: $color;
}

// not existing
span.class1 {
  color: $color;
}
